@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');



.category {
	height: 500px;
	width: 333px;
	margin-bottom: 1.5%;
}

.profile {
  height: 65%;
  width: 65%;
}

.profile:hover {
  filter: drop-shadow(2px 2px 3px currentcolor);
}

/*.rec-arrow:hover {
	background: red;
}*/


/*.rec-carousel button {
	background: red; 
}*/



.carousel .lgksPe:hover, .carousel .lgksPe:focus {
    color: white;
    background-color: rgba(79, 43, 61, .9);
    box-shadow: 0 0 2px 0 rgba(79, 43, 61, 1);
}

.carousel .lgksPe:hover:enabled, .carousel .lgksPe:focus:enabled {
    color: white;
    background-color: rgba(79, 43, 61, .9);
    box-shadow: 0 0 2px 0 rgba(79, 43, 61, 1);
}

.carousel .cJeRRR {
    box-sizing: border-box;
    padding: 0;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    border: none;
    margin: 5px;
    background-color: rgba(79, 43, 61, .5);
    font-size: 1.3em;
    content: "";
    height: 10px;
    width: 10px;
    box-shadow: 0 0 1px 3px rgb(79, 43, 61);
    border-radius: 50%;
    outline: none;
}

.carousel div:focus {
	outline: none;
	box-shadow: none;
    border-color: transparent;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
	background-color: rgba(203,113,138, 0.4);
}

.dropdown-menu .link:hover {
	background-color: transparent; 
}

.text-link {
	color: rgb(79, 43, 61);
}

.text-link:hover {
    text-decoration: none;
    color: rgb(79, 43, 61);
}

.link:hover {
	text-decoration: none;
}

.tab-nav {
	margin-top: 1%;
	font-size: 1em;
}

.tabs {
	color: rgba(44, 62, 80, .5);
	margin: 0px;
	border-top: 1px solid rgba(44, 62, 80, .5);
	background-color: rgba(79, 43, 61, .1);
  display: block;
  font-weight: 600;
}

.tabs:hover {
	color: rgba(44, 62, 80, 1);
}

.active {
	color: black;
	border-top: 1px solid rgba(44, 62, 80, 1);
	background-color: rgb(246,246,248);
}

.active-item {
	background-color: rgb(246,246,248);
	color: rgba(44, 62, 80, 1);
	border-top: 1px solid rgba(44, 62, 80, 1);
	border-bottom: 1px solid rgba(79, 43, 61, .1);
}

.active-item:hover {
	border-top: 1px solid rgba(44, 62, 80, 1);	
	border-bottom: 1px solid rgba(79, 43, 61, .1);
}



.profile-tab {
  display: block;
  width: 100%;
  color: black;
}

.profile-icon {
  width: 10%;
  height: 10%;
  margin-right: 5%;
}


.profile-icon-bar {
  width: auto;
  height: 50%;
  margin: 0 5% 0 5%;
}


.profile-icon-bar:hover {
  filter: drop-shadow(2px 2px 3px currentcolor);
  margin: 0 5% 0 5%;
  cursor: pointer;
}

/*.post {
  height: auto;
  margin: 5% 0;
  overflow: hidden;
  position: relative;
}

.post:hover .post-description {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.post-img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.post-img:hover {
  -webkit-transform: translate3d(0,-10%,0);
  transform: translate3d(0,-10%,0);
}

.post-description {
  background-color: rgb(45,63,82);
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.post-description:hover {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}*/


.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
  background: rgba(44, 62, 80, 1);
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before {
  content: 'by ';
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}




















@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}











