@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.category {
	height: 500px;
	width: 333px;
	margin-bottom: 1.5%;
}

/*.rec-arrow:hover {
	background: red;
}*/


/*.rec-carousel button {
	background: red; 
}*/


.carousel .lgksPe:hover, .carousel .lgksPe:focus {
    color: white;
    background-color: rgba(79, 43, 61, .9);
    box-shadow: 0 0 2px 0 rgba(79, 43, 61, 1);
}

.carousel .lgksPe:hover:enabled, .carousel .lgksPe:focus:enabled {
    color: white;
    background-color: rgba(79, 43, 61, .9);
    box-shadow: 0 0 2px 0 rgba(79, 43, 61, 1);
}

.carousel .cJeRRR {
    box-sizing: border-box;
    padding: 0;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    border: none;
    margin: 5px;
    background-color: rgba(79, 43, 61, .5);
    font-size: 1.3em;
    content: "";
    height: 10px;
    width: 10px;
    box-shadow: 0 0 1px 3px rgb(79, 43, 61);
    border-radius: 50%;
    outline: none;
}

.carousel div:focus {
	outline: none;
	box-shadow: none;
    border-color: transparent;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
	background-color: rgba(203,113,138, 0.4);
}

.dropdown-menu .link:hover {
	background-color: transparent; 
}

.text-link {
	color: rgb(79, 43, 61);
}

.text-link:hover {
    text-decoration: none;
    color: rgb(79, 43, 61);
}

.link:hover {
	text-decoration: none;
}




